*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   height: 100vh;
   background: linear-gradient(
    90deg,
     rgba(65,184,131,1) 0%,
     rgba(0,212,255,1) 100%
   );
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
    border: 2px solid #aFff;
    padding: 30px 40px;
    width: 45%;
}

.new-container {
    background-color: #aFff;
    padding: 30px 20px;
    border-radius: 5px ;
    box-shadow: 0 20px 30px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks-container {
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

